.loading-bg{
    position: fixed;
    z-index: 9999;
    background:radial-gradient(rgb(255, 217, 0),rgb(113, 83, 0));
    width: 100vw;
    height: 100vh;
    animation: disappear .08s linear 1.4s; /* 缩短为原时长的60%左右 */
    animation-fill-mode: forwards;
    pointer-events: none;
}

@keyframes disappear {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

.loading-img{
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    opacity: .05;
    mix-blend-mode: overlay;
    animation: disappear .08s forwards 1.4s; /* 缩短为原时长的60%左右 */
    pointer-events: none;
}

.crt-img{
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    mix-blend-mode: difference;
    animation: transition .32s 1.2s; /* 缩短为原时长的60%左右 */
    pointer-events: none;
}

@keyframes transition {
    0%{
        opacity: 0;
    }

    1%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}

.loading-bar{
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 1vh;
    background: rgba(0, 0, 0, 0.89);
    box-shadow: 0px 0px 10px #1a1a1a;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: loading .64s cubic-bezier(.24,0,0,1), /* 缩短为原时长的60%左右 */
                disappear .08s 1.28s; /* 缩短为原时长的60%左右 */
    animation-fill-mode: forwards;
}

@keyframes loading{
    from{
    width: 0vw;
    }

    to{
    width: 100vw;
    }
}

.loading-text{
    position: fixed;
    z-index: 9999;
    top: 56%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    opacity: 0;
    filter:drop-shadow(0px 0px 5px #1a1a1a);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 4vw;
    animation: text-appear .04s forwards .8s, /* 缩短为原时长的60%左右 */
                disappear2 .08s forwards 1.08s; /* 缩短为原时长的60%左右 */
    animation-iteration-count: 3;
}

@keyframes text-appear {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes disappear2 {
    from{
        display: block;
    }

    to{
        display: none;
    }
}