
.loading-bg{
    position: fixed;
    z-index: 99990;
    background:radial-gradient(rgb(255, 217, 0),rgb(113, 83, 0));
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    animation: loading-disappear .2s linear 3.5s;
    animation-fill-mode: forwards;
    pointer-events: none;
}

@keyframes loading-disappear {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

.loading-img{
    position: fixed;
    z-index: 99999;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    opacity: .05;
    mix-blend-mode: overlay;
    animation: loading-disappear .2s forwards 3.5s;
    pointer-events: none;
}

.crt-img{
    position: fixed;
    z-index: 99999;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    mix-blend-mode: difference;
    animation: loading-transition .8s 3s;
    pointer-events: none;
}

@keyframes loading-transition {
    0%{
        opacity: 0;
    }

    1%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}

.loading-bar{
    position: fixed;
    z-index: 99999;
    width: 100vw;
    height: 1vh;
    background: rgba(0, 0, 0, 0.89);
    box-shadow: 0px 0px 10px #1a1a1a;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: loading-loading 1.6s cubic-bezier(.24,0,0,1),
                loading-disappear .2s 3.2s;
    animation-fill-mode: forwards;
}

@keyframes loading-loading{

    from{
    width: 0vw;
    }

    to{
    width: 100vw;
    }
}

.loading-text{
    position: fixed;
    z-index: 99999;
    top: 56%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    opacity: 0;
    filter:drop-shadow(0px 0px 5px #1a1a1a);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 4vw;
    animation: loading-text-appear .1s forwards 2s,
                loading-disappear2 .2s forwards 2.7s;
    animation-iteration-count: 3;
}

@keyframes loading-text-appear {

    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes loading-disappear2 {

    from{
        display: block;
    }

    to{
        display: none;
    }
}
